.container{
    max-width: 600px;
    background-color: white;
    padding: 15px;
    /* border-radius: 25px; */
}
.mainFilter{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card{
    max-width: 200px;
    height: 80px;
    margin: 10px;
    /* color: whitete; */
    /* background-color: gray; */
    /* color: white; */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.delete{
    background-color: firebrick;
    color: white;
}
.delete:hover{
    color: white;
}