.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    font-size: 16px;
}

.h3{
    margin: 20px 0;
    font-size: 24px;
}
.h4{
    margin: 15px 0;
    font-size: 20px;
}
.h6{
    margin: 10px 0;
    font-size: 16px;
}
.option_container{
    margin: 10px 0;
}
.buttons{
    margin:10px 0
}
.image{
    max-width: 350px;
    max-height: 500px;
}
.options{
    padding: 5px 0;
}

